.venv/
.vscode/
src/
working/
working_new_version/
archive/
Debug/
images/
application/
MyNotes/
# Ignore the outputs folder and everything inside it
outputs/**



.markdownlint.json
code_explanations.md

__pycache__/
